 /* * ----------общие стили---------- */
 body {
   background-color: #19181A;
   background: #19181A;
   font-family: Calibri;
 }

 * {
   font-family: "Just", sans-serif;
 }

 p {
   margin: 0.7vw;
 }

 h1 {
   font-size: 1.2vw;
   margin: 1vw;
 }

 *,
 *:before,
 *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 li {
   list-style-type: none;
   /* Убираем маркеры */
   text-decoration: none;
   /* Отменяем подчеркивание у ссылки */
 }

 P.top {
   text-align: top;
   /* Выравнивание по центру */
 }

 ul.list li {
   display: inline;
   color: white;
   text-decoration: none;
   /* Отменяем подчеркивание у ссылки */
   margin-left: 0;
   /* Отступ слева в браузере IE и Opera */
   padding-left: 0;
   /* Отступ слева в браузере Firefox, Safari, Chrome */
 }

 /* * ----------общие стили---------- */
 .captchaboxtext {
   color: #fff;
 }

 .input-form {
   background-color: #16151D;
   width: 360px;
   height: 60px;
   margin-top: 15px;
   outline: none;
   border: 1px solid #787FF8;
   padding-left: 14px;
   font-size: 18px;
   color: #abb0ff;
   outline: none;
   transition: background-color 0.3s, transform 0.3s;
 }
 .input-form:hover {
  color: #d0d3ff;
  border-color: #a8acff;
  background-color: #242647;
}
::placeholder {
  color: #787FF8;
  font-size: 18px;
  font-weight: 200;
}

 .switch-btn {
   font-size: 18px;
   width: 178px;
   height: 60px;
   color: #fff;
   border: none;
   background: #444888;
   background-color: #444888;
 }

 .nametitle {
   font-family: Calibri;
   font-size: 36px;
   display: block;
   color: #fff;
 }

 .switch-btn {
   font-family: Calibri;
   font-weight: 100;
 }

 .reg-form {
   background-color: #7E86FF;
   font-size: 20px;
   font-weight: 100;
   width: 360px;
   height: 60px;
   text-align: center;
   background: #7E86FF;
   transition: background-color 0.3s, transform 0.3s;
   color: #fff;
   border: none;
 }

 .reg-form:hover {
   background-color: #6b73da;
   background: #6b73da;
 }

 @media(max-width: 375px) {
   .input-form {
     width: 300px;
     height: 50px;
   }

   .switch-btn {
     width: 147px;
     height: 50px;
   }

   .reg-form {
     width: 300px;
     height: 50px;
   }
 }



 .captchabutton {
   background: #787FF8;
   border: none;
   color: #fff;
   font-size: 1vw;
 }


 @font-face {
   font-family: captchacode;
   src: url(fonts/captchacode.otf);
 }

 .fontcaptcha {
   color: #fff;
   font-family: captchacode;
   font-size: 2vw;
 }

 .switches-btn__reg {
   padding: 0px 0px 10px 0px;
 }

 .logo {
   width: 15vw;
   height: 7vw;
 }

 .switch-btn.active {
   background: #7E86FF;
   background-color: #7E86FF;
 }

 .logo {
   width: 4.4vw;
   height: 4vw;
 }

 .betroomdiscriptiontext {
   font-size: 20px;
   color: #fff;
   margin: auto;
   font-weight: bold;
 }

 /* This css is for normalizing styles. You can skip this. */
 .child {
   display: inline-table;
 }

 .content {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   align-items: center;
 }

 .new {
   padding: 50px;
 }

 .form-group {
   display: block;
   color: #fff;
   margin-bottom: 15px;
 }

 .form-group input {
   padding: 0;
   height: initial;
   width: initial;
   margin-bottom: 0;
   color: #fff;
   display: none;
   cursor: pointer;
 }

 .form-group label {
   position: relative;
   color: #fff;
   cursor: pointer;
 }

 .form-group label:before {
   content: '';
   -webkit-appearance: none;
   background-color: transparent;
   border: 1px solid #7E86FF;
   color: #fff;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
   padding: 10px;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   cursor: pointer;
   margin-right: 5px;
 }

 .form-group input:checked+label:after {
   content: '';
   display: block;
   position: absolute;
   top: 2px;
   left: 9px;
   width: 6px;
   color: #fff;
   height: 14px;
   border: solid #7E86FF;
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);
 }

 .shadow {
   border-radius: 10px;
   border-radius: 10px;
   /* Радиус скругления */
   background: #FFFFFF;
   /* Цвет фона */
 }

 .shadow {
   border-radius: 10px;
   border-radius: 10px;
   /* Радиус скругления */
   background: #FFFFFF;
   /* Цвет фона */
 }

 .c-button {
   background-color: #af2626;
   border-radius: 5px;
   width: 220px;
   height: auto;
   background: #fefcea;
   /* Для старых браузров */
   background: linear-gradient(to left, #9338FB, #E160F9);
   transition: background-color 0.3s, transform 0.3s;
   padding: 10px;
   border: none;
 }

 .boldtext {
   font-weight: 3;
   font-size: 70px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .namefont {
   src: url(fonts/tahoma.ttf);
   font-size: 40px;
   font-weight: 900;
 }

 .playerroomfont {
   src: url(fonts/tahoma.ttf);
   font-size: 2vw;
   color: #F0F8FF;
   font-weight: 900;
 }

 .buttontext {
   font-family: Calibri;
   font-size: 1.2vw;
   text-align: center;
   position: absolute;
   transform: translate(-50%, -50%);
   color: white;
 }

 /* * ----------диалог---------- */
 .dialog {
   position: fixed;
   z-index: 5;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   padding: 0;
   margin: 0;
   background-color: rgba(0, 0, 0, 0.6);
   display: none;
 }

 .dialog.active {
   display: block;
   padding: 0;
   margin: 0;
 }

 .dialog__container {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .dialog .window {
   position: relative;
   background-color: #373639;
   padding: 35px 25px;
   padding: auto;
   margin: auto;
   overflow: auto;
 }

 .window {
   background: #743649;
   text-align: center;
 }

 .window__close {
   color: #fff;
   flex: 0 1 20px;
   right: 0;
   font-size: 20px;
   position: absolute;
   justify-content: space-between;
   width: 20px;
   background: red;
   text-align: center;
 }

 .window__header {
   color: #fff;
   background: #535353;
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   padding: 5px 5px 5px 5px;
   text-align: left;
   font-size: 20px;
   font-style: bold;
   width: 100%;
 }

 /* * ----------диалог---------- */