 /* * ----------общие стили---------- */
 body {
   background-color: #19181A;
   background: #19181A;
   font-family: Calibri;
 }

 * {
   font-family: "Just", sans-serif;
 }

 p {
   margin: 0.7vw;
 }

 h1 {
   font-size: 1.2vw;
   margin: 1vw;
 }

 *,
 *:before,
 *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 li {
   list-style-type: none;
   /* Убираем маркеры */
   text-decoration: none;
   /* Отменяем подчеркивание у ссылки */
 }


 /* * ----------общие стили---------- */


 .input-form {
   background-color: #2A2A2A;
   width: 360px;
   height: 60px;
   margin-top: 15px;
   outline: none;
   border: none;
   border-radius: 9px;
   padding-left: 14px;
   font-size: 18px;
   color: #5a5a5a;
   outline: none;
   transition: background-color 0.3s, transform 0.3s;
 }

 .input-form:hover {
   color: #d0d3ff;
   border-color: #a8acff;
   background-color: #242647;
 }

 ::placeholder {
   color: #676767;
   font-size: 18px;
   font-weight: 200;
 }

 .switch-btn {
   font-size: 18px;
   width: 178px;
   height: 60px;
   color: #fff;
   border: none;
   background: #363636;
   background-color: #363636;
 }

 .nametitle {
   font-family: Calibri;
   font-size: 36px;
   display: block;
   color: #fff;
 }

 .switch-btn {
   font-family: Calibri;
   font-weight: 100;
 }

 .reg-form {
   font-size: 20px;
   font-weight: 100;
   width: 360px;
   height: 60px;
   text-align: center;
   background: #4B4B4B;
   transition: background-color 0.3s, transform 0.3s;
   color: #fff;
   border: none;
 }

 .reg-form:hover {
   background: #383838;
 }

 @media(max-width: 375px) {
   .input-form {
     width: 300px;
     height: 50px;
   }

   .switch-btn {
     width: 147px;
     height: 50px;
   }

   .reg-form {
     width: 300px;
     height: 50px;
   }
 }




 @font-face {
   font-family: captchacode;
   src: url(fonts/captchacode.otf);
 }

 .fontcaptcha {
   color: #fff;
   font-family: captchacode;
   font-size: 2vw;
 }

 .switches-btn__reg {
   padding: 0px 0px 10px 0px;
 }


 .switch-btn.active {
   background: #686868;
   background-color: #686868;
 }



 .betroomdiscriptiontext {
   font-size: 20px;
   color: #fff;
   margin: auto;
   font-weight: bold;
 }

 /* This css is for normalizing styles. You can skip this. */
 .child {
   display: inline-table;
 }

 .content {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   align-items: center;
 }


 .form-group {
   display: block;
   color: #fff;
   margin-bottom: 15px;
 }

 .form-group input {
   padding: 0;
   height: initial;
   width: initial;
   margin-bottom: 0;
   color: #fff;
   display: none;
   cursor: pointer;
 }

 .form-group label {
   position: relative;
   color: #fff;
   cursor: pointer;
 }

 .form-group label:before {
   content: '';
   -webkit-appearance: none;
   background-color: transparent;
   border: 1px solid #4B4B4B;
   color: #fff;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
   padding: 10px;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   cursor: pointer;
   margin-right: 5px;
 }

 .form-group input:checked+label:after {
   content: '';
   display: block;
   position: absolute;
   top: 2px;
   left: 9px;
   width: 6px;
   color: #fff;
   height: 14px;
   border: solid #4B4B4B;
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);
 }


 /* * ----------диалог---------- */
 .dialog {
   position: fixed;
   z-index: 5;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   padding: 0;
   margin: 0;
   background-color: rgba(0, 0, 0, 0.6);
   display: none;
 }

 .dialog.active {
   display: block;
   padding: 0;
   margin: 0;
 }

 .dialog__container {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .dialog .window {
   position: relative;
   background-color: #373639;
   padding: 35px 25px;
   padding: auto;
   margin: auto;
   overflow: auto;
 }

 .window {
   background: #743649;
   text-align: center;
 }

 .window__close {
   color: #fff;
   flex: 0 1 20px;
   right: 0;
   font-size: 20px;
   position: absolute;
   justify-content: space-between;
   width: 20px;
   background: red;
   text-align: center;
 }

 .window__header {
   color: #fff;
   background: #535353;
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   padding: 5px 5px 5px 5px;
   text-align: left;
   font-size: 20px;
   font-style: bold;
   width: 100%;
 }

 /* * ----------диалог---------- */