::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #141414;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-decoration: none;
}

P.top {
    text-align: top;
}

ul.list li {
    display: inline;
    color: white;
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;
}

body {
    background: #19181A;
    font-family: Calibri;
    overflow: auto;
}

body._lock {
    overflow: hidden;
}

.header {
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
}

.leftpanel {
    display: flex;
    position: relative;
    height: 100%;
    background: #222123;
}

.wrapper {

    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1640px;
    height: auto;
    padding: 5px;
    box-sizing: content-box;
}


/* *----------окно с информацией об игроке (начало) ----------*/
/* .user__block {} */
.user {
    margin: 25px 0px 0px 0px;
}

/* .user__container {}
.user-container {} */
.user__text {
    color: #fff;
    font-size: 30px;
}

/* .login-user {}
.id-user {}
.user__exit-btn {} */
.exit-btn {
    margin: 12px 0px 0px 0px;
    padding: 0px 10px 5px 10px;
    background: #EE687A;
    max-width: 116px;
}

.exit-btn__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/* .btn-container {} */
.exit-btn__text {
    color: #fff;
    font-size: 23px;
}

/* *----------окно с информацией об игроке (конец)----------*/
/* *----------баланс (начало)----------*/
.balance {
    padding: 36px 0px 0px 0px;
}

.block__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
}

.balance__text {
    color: #fff;
    font-size: 31px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: 700;
}

.balance__buttons {
    display: flex;
    padding: 6px 0px 0px 0px;
}

.balance__btn {
    font-size: 25px;
    font-weight: 700;
    background: #39373A;
    border: none;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.balance__btn-text {
    margin: 0px 0px 0px 5px;
    display: flex;
    padding-right: 7px;
    text-align: center;
}

.balance__btn-icon {
    display: flex;
    padding: 7px;
}

.balance__btn:not(:last-child) {
    margin-right: 22px;
}

.btn-getmoney {
    color: #BF0000;
}

.btn-putmoney {
    color: #00BF4D;
}

/* *----------баланс (конец)----------*/
/* *----------основные кнопки (начало)----------*/
.main-button__background {
    position: relative;
    width: 100%;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    background: #2A2A2A;
}

.mainbutton {
    width: auto;
    height: 48px;
    border: none;
    display: flex;
    padding-right: 20px;
    background: #202020;
    border-radius: 22px;
    vertical-align: middle;
    justify-items: center;
    transition: all 0.3s;
}

.background-icon {
    width: 38px;
    height: 38px;
    margin: 5px 0px 0px 7px;
    border-radius: 99px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainbutton:nth-child(1n) .background-icon {
    background: #5302BC;
}

.mainbutton:nth-child(2n) .background-icon {
    background: #3917AC;
}

.mainbutton:nth-child(3n) .background-icon {
    background: #1734AC;
}

.mainbutton:nth-child(1n):hover {
    background: #5302BC;
}

.mainbutton:nth-child(2n):hover {
    background: #3917AC;
}

.mainbutton:nth-child(3n):hover {
    background: #1734AC;
}

.mainbutton:hover {
    background: #2b3675;
}

.mainbutton:not(:last-child) {
    margin: 0px 5px 0px 0px;
}

.main-button__buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-btn {
    width: 24px;
    height: 24px;
}

.main-container {
    margin-top: 22px;
}

.mainbutton__background-text {
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    margin: 0px 0px 0px 10px;
    line-height: 250%;
}

main-button__container {
    background: grey;
}

/* *----------основные кнопки (АДАПТАЦИЯ) ----------*/
@media (max-width: 800px) {
    .mainbutton:nth-child(1n) {
        width: 100%;
        margin: 5px 0px 0px 0px;
    }
}

/* *----------основные кнопки (АДАПТАЦИЯ) ----------*/
/* *----------основные кнопки (конец)----------*/
/* *----------последняя ставка (начало) ----------*/
.bet-last {
    border-top: 1px solid #FF0000;
    border-bottom: 1px solid #FF0000;
    margin-top: 22px
}

.last-bet__title {
    font-size: 28px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    font-weight: 700;
}

.last-bet__text-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.last-bet__text {
    color: #fff;
    font-size: 24px;
    margin: 13px 0px 13px 7px;
    font-weight: lighter;
}

/* *----------последняя ставка (конец)----------*/
/* *----------правая панель (начало)----------*/
.rightpanel {
    flex: 1 0;
}

.header-texts {
    display: flex;
}

.rightpanel-header {
    background: #38363A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightpanel-header__text {
    color: #fff;
    font-size: 25px;
}

.rightpanel-header__text:not(:last-child) {
    margin: 00px 20px 0px 0px;
}

.search__button {
    border: none;
    height: 100%;
    padding: 0px 10px 0px 10px;
    background: #4b4b4b;
    color: #fff;
}

.search__input {
    background: #6b6b6b;
    border: none;
    color: #fff;
    height: 100%;
    padding: 0px 0px 0px 10px;
}

::placeholder {
    color: #fff;
    padding: 0px 0px 0px 10px;
}

.main-info__input {
    color: #fff;
    padding-left: 10px;
}

.test {
    color: #fff;
}

/* *----------правая панель (конец)----------*/
.adaptive__column-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* *----------главная информация (начало)----------*/
.main-info__background {
    position: relative;
    height: 100%;
    width: 100%;
}

.info-background {
    background: #232323;
}

.info-body {
    display: flex;
    flex: wrap;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.main-info__texts {
    display: flex;
    position: relative;
}

.main-info__text {
    color: #FFFFFF;
    flex: wrap;
    font-size: 20px;
    white-space: nowrap;
}

.main-info__text:not(:last-child) {
    margin-right: 22px;
}

.info-title {
    font-weight: 700;
}

.main-info__search {
    display: flex;
}

.main-info__input {
    background: #464646;
    height: 100%;
    border: none;
    border-radius: 13px 0px 0px 13px;
    outline: none;
}

.main-info__button-search {
    background: #707070;
    height: 100%;
    border: none;
    border-radius: 0px 13px 13px 0px;
    padding: 0px 5px 0px 5px;
}

@media (max-width: 680px) {
    .info-body {
        flex-direction: column;
    }

    .main-info__input {
        width: 100%;
    }

    .main-info__search {
        margin: 4px;
        height: 100%;
    }

    .main-info__input {
        height: 100%;
    }
}

/* *----------главная информация (конец)----------*/
/* *----------комната список (начало)----------*/
.list-room__text {
    position: relative;
    padding: 9px;
    background: #434343;
    background-color: #434343;
}

.list-room__text:not(:last-child) {
    margin-right: 5px;
}

.text-column {
    display: flex;
    flex-wrap: wrap;
}

.room__text {
    position: relative;
    width: 100%;
}

@media (max-width: 1024px) {
    .text-column {
        width: 100%;
    }

    .list-room__text:not(:last-child) {
        margin: 2.5px;
        padding: 5px;
        text-align: center;
        flex: 0 1 49%;
    }

    .list-room__text:last-child {
        margin: 0;
        text-align: center;
        margin: 5px;
        flex: 0 1 100%;
    }
}

@media (max-width: 509px) {
    .list-room__text:not(:last-child) {
        margin: 2.5px;
        padding: 5px;
        text-align: center;
        flex: 0 1 100%;
    }

    .list-room__text:last-child {
        margin: 0;
        text-align: center;
        margin: 5px;
        flex: 0 1 100%;
    }
}

.list-room {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
    border-style: solid;
    margin-top: 5px;
    background: #343434;
    background-color: #343434;
    border: none;
}

.rooms__list {
    width: 100%;
    height: 100%;
}

.column {
    overflow-y: auto;
    width: 100%;
    background: rgb(22, 22, 22);
    height: 800px;
}

.room__text {
    color: #fff;
    font-size: 22px;
}

.room__button {
    background: #019228;
    border: none;
    color: #fff;
    font-size: 22px;
    display: flex;
    padding: 9px 28px 9px 28px;
    transition: all 0.1s;
}

.room__button:hover {
    background: #00b430;
}

.room__button:not(:last-child) {
    margin-right: 5px;
}

.room__button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.room__button-icon svg {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-room__buttons {
    display: flex;
    flex-wrap: wrap;
}

.button-icon {
    width: 20px;
    height: 20px;
}

#list-room {
    display: none;
}

.notfound {
    color: #fff;
    width: 100%;
    display: none;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .list-room__buttons {
        margin-right: 0;
        width: 100%;
        flex-wrap: nowrap;
    }

    .room__button {
        width: 50%;
    }
}

@media (max-width: 425px) {
    .list-room__buttons {
        width: 100%;
        display: block;
        flex-wrap: wrap;
    }

    .room__button {
        width: 100%;
        margin-right: 0px;
    }

    .room__button:last-child {
        width: 100%;
        margin-right: 0px;
    }
}

/* *----------комната список (конец)----------*/
/* *----------диалог (начало)----------*/
.overlay {
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* затемнение фона */
    display: none;
}

.overlay.active {
    display: block;
    padding: 0;
    margin: 0;
}

.overlay .flex-popap {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.overlay .flex-popap .popap {
    position: relative;
    background-color: #373639;
    /* цвет фона всплывающего блока */
    padding: 35px 25px;
    padding: auto;
    margin: auto;
    overflow: auto;
}

.popap span {
    position: absolute;
    background: #743649;
    right: 0;
    width: 1.3vw;
    height: 100%;
    text-align: center;
}

.close_popap {
    color: #fff;
    text-align: center;
    font-family: Calibri;
}

.head_popup {
    color: #fff;
    background: #535353;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    font-size: 1.3vw;
    font-style: bold;
    width: 100%;
    font-family: Calibri;
}

.history-icon {
    height: 20px;
}

.history__item-text {
    display: flex;
}

.history__column {
    position: relative;
    width: 100%;
    height: 800px;
    overflow-y: scroll;
}

.history__item {
    border: 0.1vw;
    border-color: #707070;
    background: #202020;
    border-style: solid;
    height: auto;
    position: relative;
    width: 100%;
    display: none;
    padding: 5px;
    justify-content: space-between;
    margin-top: 0.5vw;
    color: white;
}

@media (max-width: 768px) {
    .history__item {
        flex-direction: column;
    }
}

.font__history {
    font-size: 16px;
    margin-left: 10px;
}

.history-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.history-info__text {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}


.popap {
    color: #fff;
    font-size: 20px;
}

.history {
    display: none;
}

/* *----------диалог (конец)----------*/
